.image-container {
  overflow: hidden; /* Чтобы контейнер подстраивался под изображение и текст */
}

.image-container-first img {
  float: left; /* Размещаем изображение слева */
  padding-right: 10px; /* Отступ между изображением и текстом (по вашему выбору) */
}
.image-container-second img {
  float: right; /* Размещаем изображение слева */
  margin-left: 10px; /* Отступ между изображением и текстом (по вашему выбору) */
  margin-right: 0px;
}
.image-container p {
  text-align: justify;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 20px; /* Добавленный отступ слева */
}

.faq-question {
  padding-left: 20px;
}

.carousel-inner img {
    max-height: 960px;
    min-width: 100%
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-right{
        float:left;
    }
@media screen and (max-width: 992px){
    .carousel-inner img{
        max-height: 400px;
        min-width: 100%
    }
    .shower{
    display:none;
    }
    .hidden{
        display: block;
    }
    .image-container-first img{
        float:none;
    }
    .image-container-second img{
        float:none;
    }
    .img-fluid {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5%;
        }
    .float-right{
        float:right;
    }
}
@media screen and (min-width: 992px){
    main{
        max-width:60%;
        margin:auto;
    }
    .shower{
        display:block;
        }
    .hidden{
            display: none;
    }
}