<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-language" content="ru">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/all-page-style.css" rel="stylesheet">
    <link href="/css/blocks-style.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{blocks/headerForPages :: headerForPages}"></div>
<h1 class="text-center" th:text="'Редактирование пользователя: ' + ${user.name} + ' ' + ${user.surname} + ' ' + ${user.patronymic}"></h1>
<main class="container">
    <form th:action="@{/edit-profile-confirm}" method="post">
        <!-- Фамилия -->
        <div class="mb-3">
            <label for="registerSurname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="registerSurname" name="registerSurname" required th:value="${user.surname}">
        </div>
        <!-- Имя -->
        <div class="mb-3">
            <label for="registerName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="registerName" name="registerName" required th:value="${user.name}">
        </div>
        <!-- Отчество -->
        <div class="mb-3">
            <label for="registerPatronymic" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="registerPatronymic" name="registerPatronymic" th:value="${user.patronymic}">
        </div>
        <!-- Имя пользователя -->
        <div class="mb-3">
            <label for="registerUsername" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="registerUsername" name="registerUsername" required th:value="${user.username}">
        </div>
        <!-- Пароль -->
        <div class="mb-3">
            <label for="registerPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="registerPassword" name="registerPassword" required>
        </div>
        <!-- Email -->
        <div class="mb-3">
            <label for="registerEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="registerEmail" name="registerEmail" required th:value="${user.email}">
        </div>
        <!-- Телефон -->
        <div class="mb-3">
            <label for="registerPhone" class="col-form-label col-md-2">Телефон</label>
            <input type="tel" class="form-control" id="registerPhone" name="registerPhone" oninput="formatPhoneNumber(this)" maxlength="16" pattern="\+7\(\d{3}\)\d{3}-\d{2}-\d{2}" placeholder="+7(XXX)XXX-XX-XX" required th:value="${user.phonenumber}">
            <small id="phoneHelp" class="form-text text-danger"></small>
        </div>
        <!-- Кнопка Редактировать -->
        <button type="submit" class="btn btn-success">Редактировать</button>
    </form>
</main>


<footer>
</footer>

<!-- Подключение jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<!-- Подключение Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

<!-- Подключение Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
