<div th:fragment="headerForPages">
<header style="background-color: rgba(66, 170, 255);">
    <h1 class="text-center text-light">Great Retreat <br>Golden Gate Hotel</h1>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Номера</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Галерея</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Дополнительный сервис</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Специальные предложения</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О нас</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">О гостинце</a></li>
                            <li><a class="dropdown-item" href="#">Контакты</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Отзывы</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/user-profile" class="nav-link active">Личный кабинет</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</div>